<p-toast />
<div class="sticky top-0 z-5 surface-card border-bottom-1 surface-border">
  <p-toolbar styleClass="border-noround px-4 py-2">
    <ng-template pTemplate="start">
      <a routerLink="/" class="text-xl font-bold text-primary no-underline cursor-pointer">
        MyBlog
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      @if (!session) {
        <div class="flex gap-2">
          <p-button label="Sign in" routerLink="/login" [text]="true" />
          <p-button label="Register" routerLink="/register" />
        </div>
      } @else {
        <div class="flex align-items-center gap-2">
          <p-button
            icon="pi pi-pencil"
            label="New post"
            routerLink="/"
            [queryParams]="{ newPost: true }" />
          <p-avatar
            [label]="userInitial"
            shape="circle"
            styleClass="cursor-pointer"
            (click)="userMenu.toggle($event)" />
          <p-menu #userMenu [popup]="true" [model]="userMenuItems" />
        </div>
      }
    </ng-template>
  </p-toolbar>
</div>

<router-outlet />
